.booking-details-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.booking-details-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.booking-details-title {
  margin-top: 0;
  color: #1a237e;
}

.booking-details-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin: 1.5rem 0;
}

.booking-details-flight-number {
  font-weight: 600;
  color: #1a237e;
}

.booking-details-route {
  display: flex;
  flex-direction: column;
}

.booking-details-departure {
  font-weight: 700;
  font-size: 1.1rem;
}

.booking-details-price {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1a237e;
}

.booking-details-info-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

.booking-details-info-card,
.booking-detatils-flight-card {
  border: 1px solid #e9ecef;
  border-radius: 8px;
  padding: 1.5rem;
}

.booking-details-subtitle {
  margin-top: 0;
  color: #1a237e;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e9ecef;
}

.booking-details-info-row {
  display: flex;
  margin: 1rem 0;
}

.booking-details-label {
  font-weight: 600;
  color: #495057;
  min-width: 150px;
}

.booking-details-passenger-card {
  border: 1px solid #e9ecef;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.booking-details-passenger-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e9ecef;
}
.booking-details-passenger-title {
  margin: 0;
}

.booking-details-passenger-type {
  color: #6c757d;
}

.booking-details-total-section {
  border-top: 1px solid #e9ecef;
  padding-top: 1.5rem;
  margin-top: 2rem;
}

.booking-details-total-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.booking-details-grand-total {
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 1rem;
  padding-top: 1rem;
}

.booking-details-section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.booking-details-back-button {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: #f8f9fa;
  text-decoration: none;
  color: #212529;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  font-weight: bold;
}

.booking-details-back-button:hover {
  background-color: #e9ecef;
}
