* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: ur; */
  padding: 2rem;
}

.auth-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 450px;
  overflow: hidden;
}

.auth-header {
  background-color: #1a237e;
  color: white;
  padding: 2rem;
  text-align: center;
}

.auth-header h2 {
  margin: 0;
  color: #ffab00;
  font-size: 1.5rem;
}

.auth-header p {
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
}

.auth-form {
  padding: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  font-size: 1rem;
  border-radius: 5px;
}

.auth-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #1a237e;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.auth-footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
}
